.page {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.box {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoTitleSubtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo {
    width: 100px;
}

.formWrapper {
    width: 300px;
    height: auto;
    padding: 20px;
    gap: 16px;
    background-color: var(--darkerGrey);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
}

.field {
    padding: 8px;
    width: 300px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 40px;
    color: var(--white);
    caret-color: var(--white);
    background-color: var(--darkerGrey);
    border: 1px solid var(--inputFieldBorder);
}

h1 {
    font-size: 38px;
    color: var(--white);
    margin-top: 8px;
    padding: 8px;
    font-family: inherit;
}

h2 {
    font-size: 22px;
    color: var(--secondaryText);
    font-family: inherit;
}

h3 {
    font-size: 18px;
    color: var(--white);
    font-family: inherit;
}

h4 {
    text-align: center;
    color: var(--secondaryText);
    font-size: 14px;
    font-family: inherit;
}

button {
    color: var(--white);
    background-color: var(--green);
    width: 100%;
    margin-top: 16px;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
}