.chtnr {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--background);
  justify-content: center;
}

.avt {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.chname {
  font-size: 0.9rem;
  color: var(--white);
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  position: relative;
  margin-left: 20px;
}

.choptionsContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.chic {
  font-size: 1.0rem;
  color: var(--secondaryText);
  cursor: pointer;
  margin-right: 30px;
}