.fcontnt {
  background-color: var(--darkerGrey);
  height: 100%;
  display: flex;
}

.icon {
  margin: 16px 5px;
  padding: 5px 10px;
  font-size: 1.35rem;
  color: var(--secondaryText);
  cursor: pointer;
}

.nt-allow {
  cursor: not-allowed;
}

.input {
  box-shadow: none;
  border: none;
  outline: none;
  margin: 10px auto;
  width: 80%;
  border-radius: 7px;
  padding-left: 16px;
  font-size: 1.0rem;
  color: var(--white);
  background: var(--background);
}
