.chtnr {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: var(--background);
  justify-content: center;
}

.chBackIcon {
  display: none;
  height: 18px;
  width: 18px;
  margin-left: 16px;
  margin-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
  justify-self: center;
  vertical-align: middle;
  text-align: center;
}

.chBackArrow {
  height: 100%;
  width: 100%;
  color: white;
  fill: white;
}

.avt {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.chname {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  justify-content: center;
}

.cname {
  font-size: 0.9rem;
  color: var(--white);
  text-align: left;
}

.cTyping {
   font-size: 0.8rem;
  color: var(--green);
  margin-top: 4px;
  text-align: left;
}

.cLastSeen {
  font-size: 0.8rem;
  color: var(--secondaryText);
  margin-top: 4px;
  text-align: left;
}

.choptionsContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.chic {
  font-size: 1.0rem;
  color: var(--secondaryText);
  cursor: pointer;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .chBackIcon {
    display: inline;
  }
}
