.ciContainer {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding: 8px;
  border-bottom: 1px solid var(--inputFieldBorder);
}

.cn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  gap: 8px;
}

.ciContainer.isSelected {
  background-color: var(--background) !important;
}

.infoContainer {
  display: flex;
  align-items: center;
  z-index: 20;
  margin-left: 12px;
}

.avatarContainer {
  height: 49px;
  width: 49px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.avatar {
  height: 100% !important;
  width: 100% !important;
  border-radius: 50%;
  object-fit: fill;
}

.uname {
  font-size: 14px;
  color: var(--white);
}

.usectext {
  font-size: 14px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.utys {
  color: var(--green);
}

.umsg {
  color: var(--secondaryText);
}

.utypingInd {
  color: var(--green);
}

.mcTstmp {
  margin-left: auto;
  display: flex;
  gap: 3px;
  flex-direction: column;
  align-items: center;
}

.mctnr {
  background-color: var(--green);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.mc {
  color: var(--white);
  font-size: 11px;
}

.tstmp {
  font-size: 11px;
  color: var(--secondaryText);
  margin-top: 6px;
}

.uabout {
  color: var(--secondaryText);
  font-size: 0.9rem;
}
