.cn {
  display: flex;
  margin: 0px 0px;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 68px;
  overflow-y: auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 8px;
}

.cnWithBg {
  background-color: var(--background);
}

.infoContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--inputFieldBorder);
  align-items: center;
  margin-left: 12px;
  z-index: 20;
}

.avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-left: 8px;
  object-fit: fill;
}

.unamec {
  width: 200px;
}

.uname {
  font-size: 14px;
  color: var(--white);
}

.umsg {
  font-size: 12px;
  margin-top: 4px;
  overflow: hidden;
  color: var(--secondaryText);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mcTstmp {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mctnr {
  background-color: var(--green);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.mc {
  color: var(--white);
  font-size: 11px;
}

.tstmp {
  font-size: 11px;
  color: var(--secondaryText);
  margin-top: 6px;
}
