* {
  margin: 0;
  padding: 0;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --background: #202c33;
  --green: #00a884;
  --white: #ffffff;
  --darkerGrey: #17232b;
  --secondaryText: #cecdcd;
  --inputFieldBorder: #30373b;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 71, 71);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

h1 {
  font-size: 38px;
  color: var(--white);
}

h2 {
  font-size: 22px;
  color: var(--white);
}

h3 {
  font-size: 18px;
  color: var(--white);
}

h4 {
  color: var(--white);
  font-size: 14px;
}

.pBtn {
  color: var(--white);
  background-color: var(--green);
  border: 0px;
  border-radius: 8px;
  font-size: 16px;
  font-family: inherit;
  padding: 8px;
}
