.pg {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-grow: 2 1 1;
}

.sidebarContainer {
  flex: 0 0 30%;
  background-color: var(--darkerGrey);
}

.msSidebarFallbackCtnr {
  height: 100%;
  width: 100%;
  background-color: var(--darkerGrey);
}

.small {
  flex: 0 0 40%;
}

.max {
  flex: 70%;
}

.sideBorder {
  background-color: var(--inputFieldBorder);
  width: 1px;
  height: 100%;
  z-index: 777;
}

.whatsappIntroContainer {
  flex: 70%;
}

.chatInfoScreenContainer {
  flex: 0 0 29%;
  height: 100%;
  justify-self: flex-end;
}

@media (max-width: 1000px) {
  .sidebarContainer {
    flex: 35%;
  }

  .chattingContainer {
    flex: 65%;
  }

  .whatsappIntroContainer {
    flex: 65%;
  }
}

@media (max-width: 900px) {
  .sidebarContainer {
    flex: 40%;
  }

  .chattingContainer {
    flex: 60%;
  }

  .whatsappIntroContainer {
    flex: 60%;
  }
} 

@media (max-width: 600px) {
  .pg {
    display: block;
  }

  .whatsappIntroContainer {
    display: none;
  }

  .sidebarContainer {
    width: 100%;
    z-index: 10;
    height: 100%;
    top: 0;
    position: absolute;
  }

  .chattingContainer {
    width: 100%;
    z-index: 11;
    height: 100%;
    top: 0;
    position: absolute;
  }

  .chatInfoScreenContainer {
    width: 100%;
    height: 100%;
    z-index: 12;
    top: 0;
    position: absolute;
  }
}
