.pg {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
}

.sidebarContainer {
  width: 30%;
}

.chattingContainer {
  width: 70%;
}

.whatsappIntroContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .sidebarContainer {
    width: 35%;
  }

  .chattingContainer {
    width: 65%;
  }

  .whatsappIntroContainer {
    width: 65%;
  }
}

@media (max-width: 900px) {
  .sidebarContainer {
    width: 40%;
  }

  .chattingContainer {
    width: 60%;
  }

  .whatsappIntroContainer {
    width: 60%;
  }
}
