#ctnt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatsContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.chatsContainer::-webkit-scrollbar {
  width: 5px;
}

.contactsContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.contactsContainer::-webkit-scrollbar {
  width: 5px;
}

.contacts {
  width: 100%;
  overflow-x: hidden;
}

.dividerLine {
  width: 100%;
  height: 1px;
  background-color: var(--inputFieldBorder);
}
