.contnt {
    background-image: linear-gradient(
        rgb(13, 17, 23, 0.9) 100%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("../assets/chat_back_wallpaper.png");
    height: 100%;
    width: 100%;
}