.message-right-box {
  display: flex;
  margin: 20px;
  color: var(--secondary-green);
  width: 60%;
  float: left;
  justify-content: left;
}

.message {
  background-color: var(--secondary-green);
  color: var(--primary-grey);
  border-radius: 10px;
  border-top-right-radius: 0px;
  padding: 10px;
}
