.mrTopContainer {
  max-width: 65%;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-top: 8px;
  margin-left: 5%;
}

.receivedMContainer {
  border-radius: 7.5px;
  background-color: var(--darkerGrey);
  padding: 4px 10px 4px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.msgR {
  font-size: 14px;
  color: var(--white);
  text-align: end;
  padding-left: 8px;
}

.msgRTimestamp {
  font-size: 11px;
  color: var(--secondaryText);
  margin-right: auto;
  margin-left: 8px;
  position: relative;
  margin-top: 1px;
  right: 8px;
}
