.sppage {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
}

.spBox {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.splogoTitleSubtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  box-sizing: border-box !important; 
}

.logo {
  width: 100px;
  padding: 16px;
}

.formWrapper {
  width: 300px;
  padding: 20px;
  gap: 16px;
  background-color: var(--darkerGrey);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
}

.imageWrapper {
  width: 80px;
  height: 80px;
  display: flex;
  border: 0px;
  align-self: center;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stdImg {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: fixed;
  border-radius: 50%;
  position: absolute;
}

.cameraOverlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.cameraOverlay:hover {
  opacity: 100;
}

.camera {
  width: 25px;
  color: #6caf84;
  fill: #6caf84;
}

.field {
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--white);
  caret-color: var(--white);
  background-color: var(--darkerGrey);
  border: 1px solid var(--inputFieldBorder);
}

.name {
  margin-top: 12px;
}

.about {
  margin-top: 12px;
}

.appTitle {
  margin-top: 8px;
  padding: 8px;
}

.appSubtitle {
  color: var(--secondaryText);
  text-align: center;
}

.subtitle {
  text-align: center;
}

.sBtn {
  width: 100%;
  margin-top: 16px;
}

@media (max-width: 800px) {
  .sppage {
    height: auto;
    width: auto;
    overflow-x: hidden;
  }

  .spBox {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-evenly;
    box-sizing: border-box;
  }

  .splogoTitleSubtitle {
    margin-top: 30px;
  }

  .formWrapper {
    margin-top: 20px;
  }
}
