.statusesScreenDialogOverlay {
  background-color: rgba(40, 40, 40, 1);
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sscIcon {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

#sscCloseIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 77777;
}

.sscIconLarge {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#sscLeftIcon {
  position: absolute;
  top: 50%;
  left: 60px;
}

#sscRightIcon {
  position: absolute;
  top: 50%;
  right: 60px;
}

.sscStatusContentWrapper {
  height: 100%;
  width: 35%;
  position: relative;
  box-sizing: border-box;
}

.sscMediaDisplay {
  width: 100%;
  height: 100%;
  position: absolute;
}

.sscHeader {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1000;
  box-sizing: border-box;
}

.sscHeader::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, rgba(38, 38, 38, 0.8), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
  box-sizing: border-box;
}

.sscProgressWrapper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  padding: 10px 0;
  cursor: pointer;
}

.sscUserDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding: 8px;
}

#sscUserImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#sscUserName {
  font-size: 0.9rem;
  font-weight: normal;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#sscLastUpdated {
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(238, 238, 238);
  font-family: Arial, Helvetica, sans-serif;
}

#sscMediaImage {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .sscStatusContentWrapper {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .sscStatusContentWrapper {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .sscStatusContentWrapper {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .sscStatusContentWrapper {
    width: 100%;
  }

  #sscLeftIcon {
    left: 8px;
  }

  #sscRightIcon {
    right: 8px;
  }
}
