* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #3d3d3d;
  --green: #7ad06d;
  --white: #ffffff;
  --darkerGrey: #202020;
  --secondaryText: #eeeeee;
  --inputFieldBorder: #7A7A7A;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
